body{

    background-position: center;
    background-size: cover;
}
#myCanvas
{
    margin-top: 10px;
	border-width:40px;
	background-color:white; 
	border-style:solid;
    border-color:black;
}

h1,h4
{
	
	color:red!important;
	
}